<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>KnjiÅ¾ara Backoffice</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/backofficestyle.css">
</head>
<body>
    
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/bo" class="nav-brand text-dark">KnjiÅ¾ara Backoffice</a>
                    </div>
                </div>
            </nav>
        </header>


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/bo"><i class="fas fa-angle-double-left"></i> Sve knjige</a>
            </div>
        </div>
    <div class="form-title text-center">
        <h2 class="text-dark">AÅ¾urirajte knjigu</h2>
        <span class="text-light">AÅ¾urirajte informacije o pojedinoj knjizi ðŸ“š</span>
    </div>

    <form action="/api/book/update" method="POST" id="update_book" role="form" enctype="multipart/form-data" >
        <div class="new_book">
            <div class="form-group">
                <label for="name" class="text-light">Ime knjige</label>
                <input type="hidden" name="id" value="<%= book._id %>">
                <input type="text" name="name" value="<%= book.name %>" placeholder="BraÄ‡a Karamazovi">
            </div>
            <div class="form-group">
                <label for="author" class="text-light">Autor knjige</label>
                <input type="text" name="author" value="<%= book.author %>" placeholder="Fjodor M. Dostojevski">
            </div>
            <div class="form-group">
                <label for="availability" class="text-light">Dostupnost</label>
                <% if(book.availability == true) { %>
                <input type="text" name="availability" value="PosuÄ‘ena" placeholder="Dostupna/PosuÄ‘ena">
                <% } %> 
                <% if(book.availability == false) { %> 
                <input type="text" name="availability" value="Dostupna" placeholder="Dostupna/PosuÄ‘ena">
                <% } %>
            </div>
            <div class="form-group">
                <label for="description" class="text-light">Kratki opis</label>
                <input type="text" name="description" value="<%= book.description %>" placeholder="BraÄ‡a Karamazovi posljednji je roman ruskoga genija Fjodora MihajloviÄa Dostojevskoga, koji je dovrÅ¡io...">
            </div>
            <div class="form-group">
                <label for="description" class="text-light">KnjiÅ¾evna vrsta</label>
                <input type="text" name="description" value="<%= book.type %>" placeholder="Romantizam">
            </div>
            <div class="form-group">
                <label for="bookimg" class="text-light">Slika knjige</label>
                <div class="upload-btn-wrapper" style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                    <button class="button-s">Prenesite sliku knjige !</button>
                    <input type="file" id="bookimage" name="bookimage" accept="image/*">
                </div>
            </div>
            <div class="form-group">
                <label for="authorimg" class="text-light">Slika autora</label>
                <div class="upload-btn-wrapper" style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                    <button class="button-s">Prenesite sliku autora !</button>
                    <input type="file" id="authorimage" name="authorimage" accept="image/*">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="button-s">AÅ¾urirajte knjigu !</button>
            </div>
        </div>
    </form>

    </div>
</main>

</body>
</html>
