<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Knjižara Backoffice</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/backofficestyle.css">
</head>
<body>
    
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/bo" class="nav-brand text-dark">Knjižara Backoffice</a>
                    </div>
                </div>
            </nav>
        </header>
    
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/bo/add-book" class="border-shadow">
                    <span class="text-gradient">Dodaj novu knjigu<i class="fa-solid fa-book"></i></span>
                </a>
            </div>

            
        <form action="/bo" method="GET" id="search_book">
            <div class="new_book">
                <div class="form-group">
                    <label for="sort" class="text-light">Odaberi opciju sortiranja </label>
                        <select name="sort">
                            <option value="az">A-Z)</option>
                            <option value="za">Z-A</option>
                        </select>
                </div>
                <div class="form-group">
                    <input 
                        type="text"
                        name="author"
                        class="text-light"
                        placeholder="Filtriraj po autoru"
                    />
                </div>
                <div class="form-group">
                    <input 
                        type="text"
                        name="type"
                        class="text-light"
                        placeholder="Filtriraj po vrsti"
                    />
                </div>
                <div class="form-group">
                    <button type="submit" class="button-s">Filtriraj knjige !</button>
                </div>
            </div>
        </form>

            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Ime knjige</th>
                            <th>Autor knjige</th>
                            <th>Dostupnost</th>
                            <th>Kratki opis</th>
                            <th>Književna vrsta</th>
                            <th>Slika knjige</th>
                            <th>Slika autora</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < books.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= books[i].name %></td>
                                <td><%= books[i].author %></td>
                                <% if(books[i].availability == true) { %>
                                <td>Posuđena </td> 
                                <% } %> 
                                <% if(books[i].availability == false) { %> 
                                <td>Dostupna </td>
                                <% } %>
                                <td><%= books[i].description %></td>
                                <td><%= books[i].type %></td>
                                <td><img src="<%= books[i].bookpicture %>" alt="" width="630" height="1200"></img></th>
                                <td><img src="<%= books[i].authorpicture %>" alt="" width="630" height="1200"></img></th>
                                <td>
                                    <a href="/bo/update-book?id=<%= books[i]._id%>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                        <% } %> 
                    </tbody>

                </table>
            </form>

            <div class="break">
                <% if(page == 1) { %> <a href="/bo/?sort=<%=sort%>&author=<%=author%>&type=<%=type%>&page=<%=page%>&size=<%=size%>"class="border-shadow">
                    <span class="text-gradient"><i class="fa-solid fa-angles-left"></i>Page before</span>
                </a><% } %>
                <% if(page > 1) { %> <a href="/bo/?sort=<%=sort%>&author=<%=author%>&type=<%=type%>&page=<%=page-1%>&size=<%=size%>"class="border-shadow">
                    <span class="text-gradient"><i class="fa-solid fa-angles-left"></i>Page before</span>
                </a> <% } %>
                <% if(page == numberOfPages) { %> <a href="/bo/?sort=<%=sort%>&author=<%=author%>&type=<%=type%>&page=<%=page%>&size=<%=size%>"class="border-shadow">
                    <span class="text-gradient">Next page<i class="fa-solid fa-angles-right"></i></span>
                </a> <% } %>
                <% if(page < numberOfPages) { %> <a href="/bo/?sort=<%=sort%>&author=<%=author%>&type=<%=type%>&page=<%=page+1%>&size=<%=size%>"class="border-shadow">
                    <span class="text-gradient">Next page<i class="fa-solid fa-angles-right"></i></span>
                </a>  <% } %>
            </div>

        </div>
    </main>

</body>
</html>