<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/gallerystyle.css">
</head>
<body>

    <div class="container">
      <% for(var i = 0; i < books.length; i++) { %>
        <div class="card">
          <div class="card-header">
            <img src="<%= books[i].bookpicture %>" alt="rover" />
          </div>
          <div class="card-body">
            <% if(books[i].availability == true) {%>
            <span class="tag tag-green">Dostupna knjiga</span>
            <% } %>
            <% if(books[i].availability == false) {%>
              <span class="tag tag-red">Nedostupna knjiga</span>
            <% } %>
            <h4>
              <%= books[i].name %>
            </h4>
            <p>
              <%= books[i].description %>            </p>
            <div class="author">
              <img src="<%= books[i].authorpicture %>" alt="user" />
              <div class="author-info">
                <h5><%= books[i].author %></h5>
                <small>Romantizam</small>
              </div>
            </div>
            <% if(books[i].availability == true) {%>
              <a href="#" class="button">Posudi knjigu!</a>
            <% } %>
          </div>
        </div>
        <% } %>

        <div class="card">
          <div class="card-header">
            <img src="/img/mrtve_duse.jpg" alt="ballons" />
          </div>
          <div class="card-body">
            <span class="tag tag-red">Posuđena knjiga</span>
            <h4>
              Mrtve duše
            </h4>
            <p>
                Nedovršeni roman “Mrtve duše” Nikolaja Vasiljeviča Gogolja, objavljen 1842., prvotno je zamišljen kao poema u tri dijela, pisana po uzoru na Danteovu Božanstvenu komediju (podijeljenu na Pakao, Čistilište i Raj). Prvi dio Gogolj je pisao gotovo sedam godina u Parizu, Rimu i Švicarskoj, ali njegovo krhko psihičko stanje nije dočekalo završetak romana.
            </p>
            <div class="author">
              <img src="/img/gogolj.jpg" alt="user" />
              <div class="author-info">
                <h5>Nikolaj Vasiljevič Gogolj</h5>
                <small>Pikarski roman</small>
              </div>
            </div>

            
          </div>
        </div>
        
        

    </div>

</body>
</html>