<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/gallerystyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
<body>

  
  


    <div class="container">
      <% for(var i = 0; i < books.length; i++) { %>
        <div class="card">
          <div class="card-header">
            <img src="<%= books[i].bookpicture %>" alt="rover" />
          </div>
          <div class="card-body">
            <% if(books[i].availability == true) {%>
            <span class="tag tag-green">Dostupna knjiga</span>
            <% } %>
            <% if(books[i].availability == false) {%>
              <span class="tag tag-red">Nedostupna knjiga</span>
            <% } %>
            <h4>
              <%= books[i].name %>
            </h4>
            <p>
              <%= books[i].description %>
            </p>
            <div class="author">
              <img src="<%= books[i].authorpicture %>" alt="user" />
              <div class="author-info">
                <h5><%= books[i].author %></h5>
                <small>
                  <%= books[i].type %>
                </small>
              </div>
            </div>
            <% if(books[i].availability == true) {%>
              <a href="#" class="button">Posudi knjigu!</a>
            <% } %>
          </div>
        </div>
        <% } %>
    </div>

    <div class="floating-container">
      <div class="floating-button">+</div>
      <div class="element-container">
        <div class="break">
          <% if(page == 1) { %> <a href="/gallery/?page=<%=page%>&size=<%=size%>">
            <span class="float-element tooltip-left">
              <i class="material-icons">chevron_left
              </i></a>
          <% } %>
          <% if(page > 1) { %> <a href="/gallery/?page=<%=page-1%>&size=<%=size%>">
            <span class="float-element tooltip-left">
              <i class="material-icons">chevron_left
              </i></a>
          <% } %>
          <% if(page == numberOfPages) { %> <a href="/gallery/?page=<%=page%>&size=<%=size%>">
            <span class="float-element tooltip-left">
              <i class="material-icons">chevron_right
              </i></a>
          <% } %>
          <% if(page < numberOfPages) { %> <a href="/gallery/?page=<%=page+1%>&size=<%=size%>">
            <span class="float-element tooltip-left">
              <i class="material-icons">chevron_right
              </i></a>
          <% } %>
        </div>
      </div>
    </div>

    

</body>
</html>